---
# Can't put docker-compose in ssh_tunnel dir because of https://github.com/isbang/compose-action/issues/29 and its tie to our Github action. Easiest to just drop this file in the root directory
version: "2.1" #Borrowed heavily from https://github.com/pahaz/sshtunnel/blob/master/e2e_tests/docker-compose.yaml
services:
  ssh:
    image: ghcr.io/linuxserver/openssh-server
    container_name: openssh-server
    hostname: openssh-server
    environment:
      - PUID=1000
      - PGID=1000
      - PUBLIC_KEY_FILE=/config/ssh_host_keys/ssh_host_rsa_key.pub
      - SUDO_ACCESS=false
      - PASSWORD_ACCESS=false
      - USER_NAME=melty
    volumes:
      - ./ssh_tunnel/ssh-server-config:/config/ssh_host_keys:ro
    ports:
      - "127.0.0.1:2223:2222"
    networks:
      - inner

  postgresdb:
    image: postgres:13.0
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: main
    networks:
      inner:
        ipv4_address: 10.5.0.5

networks:
  inner:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/16
         gateway: 10.5.0.1
