[tool.poetry]
name = "tap-postgres"
version = "0.0.1"
description = "`tap-postgres` is a Singer tap for Postgres, built with the Meltano SDK for Singer Taps."
authors = ["AutoIDM"]
keywords = [
    "ELT",
    "Postgres",
]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = "<3.11,>=3.7.1"
requests = "^2.25.1"
singer-sdk = "^0.19.0"
psycopg2-binary = "2.9.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
tox = "^3"
flake8 = "^3.9.2"
black = "^22.3.0"
pydocstyle = "^6.1.1"
mypy = "^0.910"
types-requests = "^2.26.1"
isort = "^5.10.1"
faker = "^16.7.0"
pre-commit = "^2.0.0"


[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "tap_postgres"

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
tap-postgres = 'tap_postgres.tap:TapPostgres.cli'
