[tool.poetry]
name = "meltanolabs-tap-postgres"
version = "0.0.0"
description = "`tap-postgres` is a Singer tap for Postgres, built with the Meltano SDK for Singer Targets."
authors = ["Meltano Team and Contributors <hello@meltano.com>"]
maintainers = ["Meltano Team and Contributors <hello@meltano.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://meltano.com"
repository = "https://github.com/meltanolabs/tap-postgres"
keywords = [
    "Postgres",
    "Singer",
    "ELT",
    "Meltano",
    "Meltano SDK",
]
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
]
packages = [
    { include = "tap_postgres" }
]


[tool.poetry.dependencies]
python = "<3.12,>=3.8.1"
singer-sdk = "~=0.31.0"
psycopg2-binary = "2.9.7"
sqlalchemy = "<2"
sshtunnel = "0.4.0"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
faker = ">=18.5.1,<20.0.0"
flake8 = "^6.0.0"
isort = "^5.10.1"
mypy = "1.5.1"
pre-commit = "^3.0.4"
pydocstyle = "^6.1.1"
singer-sdk = {version = "*", extras = ["testing"]}
tox = "^4"

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "tap_postgres"

[tool.mypy]
exclude = "tests"
python_version = "3.9"
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
    "sshtunnel",
]

[build-system]
requires = ["poetry-core>=1.0.8", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.scripts]
# CLI declaration
tap-postgres = 'tap_postgres.tap:TapPostgres.cli'
