name: Test tap-postgres

env:
  FORCE_COLOR: 1

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
    paths:
    - .github/workflows/constraints.txt
    - .github/workflows/test.yml
    - log_based/**
    - pagila/**
    - plugins/**
    - ssh_tunnel/**
    - ssl/**
    - tap_postgres/**
    - tests/**
    - pyproject.toml
    - tox.ini
    - uv.lock
  push:
    branches: [main]
    paths:
    - .github/workflows/constraints.txt
    - .github/workflows/test.yml
    - log_based/**
    - pagila/**
    - plugins/**
    - ssh_tunnel/**
    - ssl/**
    - tap_postgres/**
    - tests/**
    - pyproject.toml
    - tox.ini
    - uv.lock
  workflow_dispatch:
    inputs: {}
  schedule:
  # Every 8 hours
  - cron: '0 */8 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    name: Python ${{ matrix.python-version }} / Postgres ${{ matrix.postgres-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
        postgres-version:
        - "17"
        include:
        - python-version: "3.13"
          postgres-version: "13"
        - python-version: "3.13"
          postgres-version: "14"
        - python-version: "3.13"
          postgres-version: "15"
        - python-version: "3.13"
          postgres-version: "16"

    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Fix Permissions
      run: |
        chmod 777 -R ./ssh_tunnel/ssh-server-config
        chmod 600 ssl/server.key
        sudo chown 999:999 ssl/server.key
        chmod 600 ssl/pkey.key

    - name: Compose Postgres container
      env:
        POSTGRES_VERSION: ${{ matrix.postgres-version }}
      run: |
        docker compose up -d --wait --wait-timeout=30

 # Leaving comments as this makes testing the openssh docker image easier and should save someone some time later
 #   - name: Test SSH File Permissions
 #     run: |
 #       docker exec openssh-server ls -lsa /config/ssh_host_keys
 #       docker exec openssh-server cat  /config/logs/openssh/current
 #       docker exec openssh-server ps aux


    - run: docker ps

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Setup uv
      uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
      with:
        version: ">=0.6.15"

    - name: Install Tox
      env:
        UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        uv tool install --with tox-uv tox

    - name: Run pytest
      run: |
        tox -e ${{ matrix.python-version }}

    - name: Run lint
      run: |
        tox -e lint
