name: Test tap-postgres

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      PIP_CONSTRAINT: .github/workflows/constraints.txt
    strategy:
      matrix:
        include:
        - {python-version: "3.10", session: "lint"}
        - {python-version: "3.11", session: "pytest"}
        - {python-version: "3.10", session: "pytest"}
        - {python-version: "3.9", session: "pytest"}
        - {python-version: "3.8", session: "pytest"}
    steps:

    - name: Checkout code
      uses: actions/checkout@v3.3.0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.5.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Upgrade pip
      run: |
        pip install pip
        pip --version
    - name: Install Poetry
      run: |
        pip install poetry
        poetry --version
    - name: Install dependencies
      run: |
        poetry install
    - name: Run lint command from tox.ini
      run: |
        poetry run tox -e ${{ matrix.session }}
